:host {
  display: block;
}
:host {
  display: block;
}

.body-frame {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ccc;
}

.exit-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.score-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
}

.target-word {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  
}

.mixed-letters {
  font-size: 32px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.scoring {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
