:host {
  display: block;
}
.true-case {
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.false-case {
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 5px;
}
