<div class="game-container">
    <div class="game-content">
      <h2>Mixed Letters - {{selectedCategory?.name}}</h2>
      <p>{{randomCateWords[0].target}}</p>
      <p>{{randomCateWords[0].origin}}</p>
      <mat-form-field appearance="fill">
        <mat-label>Guess:</mat-label>
        <input matInput >
      
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color="accent">Reset</button>
    </mat-form-field>
  
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <span>4/10</span>
     