:host {
  display: block;
}
.progress-bar-container {
  display: flex;
  align-items: center;
}

.current-progress {
  margin-right: 8px;
}

.total-progress {
  margin-left: 8px;
}

mat-progress-bar {
  flex-grow: 1;
  margin: 0 10px;
}
