.card-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center; 
  margin-bottom: 40px;
  margin-top: 20px;
  justify-items: center;
}

.card-wrapper {
  display: grid;
  
}

