<div class="game-board">
  <h1>Memory-Cards Game</h1>
  <h2>Your Score Is {{ score }}</h2>
  <button mat-raised-button color="primary" (click)="resetgame()">
    Refresh And Try Again!
  </button>
  <br>
  <button mat-raised-button color="primary" (click)="anotherCate()">
    Choose Another Category!
  </button>

  <div *ngIf=" !isGameEnd" class="card-container">
    <mat-card
      *ngFor="let word of cards; let i = index"
      class="card"
      (click)="onCardClick(i)"
      tabindex="0"
      [class.flipped]="word.flipped"
      [class.matched]="word.matched"
      [attr.dir]="word.direction"
    >
      <mat-card-header *ngIf="!word.flipped && !word.matched">
        <mat-card-title>
          <span class="ques">?</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="word.flipped || word.matched">
        {{ word.word }}
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card *ngIf=" isGameEnd && !chooseAnotherCate" class="won-card">
    <mat-card-content>
      Well Done! All Cards Are matched!
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="resetgame()">
        Try To Beat Your Score!
      </button>
    </mat-card-actions>
    <mat-card-header>{{score
      }}</mat-card-header>
  </mat-card>
</div>
