<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner
    mode="indeterminate"
    color="primary"
    diameter="100"
    strokeWidth="5">
  </mat-progress-spinner>
  <h1>Dashboard is Loading Your Stats...</h1>
</div>

<!-- <div *ngIf="!isLoading" class="dashboard-container"> -->
  <div class="stats-grid">
    <!-- Games Played -->
     <div class="gamesPlayed">
    <mat-card class="dashboard-card">
      <mat-card-title>Games Played</mat-card-title>
      <mat-card-content>
        <h2>{{ gamesPlayed }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
    <!-- Points -->
    <mat-card class="dashboard-card">
      <mat-card-title>Total Points</mat-card-title>
      <mat-card-content>
        <h2>{{ totalPoints }}</h2>
      </mat-card-content>
    </mat-card>

    <!-- Highest Average Score Game -->
    <mat-card class="dashboard-card">
      <mat-card-title>Highest Average Score Game is</mat-card-title>
      <!-- <div *ngIf="isLoading" class="loading-container">
        <mat-progress-spinner
          mode="indeterminate"
          color="primary"
          diameter="100"
          strokeWidth="5">
        </mat-progress-spinner>
        <h5>Dashboard is Loading Your Stats...</h5>
      </div> -->

      <div *ngIf="!isLoading">
      <mat-card-content>
        <h1>{{ highestAvgScoreGame?.gameName }}</h1>
        <h3> With: <h2>{{highestAvgScore}}</h2> Points Per Game!</h3>
      </mat-card-content>
      </div>

    </mat-card>

    <!-- Lowest Average Score Game -->
    <mat-card class="dashboard-card">
      <mat-card-title>Lowest Average Score Game</mat-card-title>
      <div *ngIf="!isLoading">
      <mat-card-content>
        <h1>{{ lowestAvgScoreGame?.gameName }}</h1>
        <h3> With: <h2>{{lowestAvgScore}}</h2> Points Per Game!</h3>
      </mat-card-content>
      </div>
    </mat-card>

    <!-- Categories Learnt -->
    <mat-card class="dashboard-card">
      <mat-card-title>Categories Learnt</mat-card-title>
      <mat-card-content>
        <h2>{{ categoriesLearned }}</h2>
      </mat-card-content>
    </mat-card>

    <!-- Categories Not Learnt -->
    <mat-card class="dashboard-card">
      <mat-card-title>Categories Not Learnt</mat-card-title>
      <mat-card-content>
        <h2>{{ categoriesNotLearned }}</h2>
      </mat-card-content>
    </mat-card>

    <!-- Perfect Games Percentage -->
    <mat-card class="dashboard-card">
      <mat-card-title>Perfect Games</mat-card-title>
      <mat-card-content>
        <h2>{{ perfectGamesPercentage }}%</h2>
      </mat-card-content>
    </mat-card>

    <!-- Most Played Category -->
    <mat-card class="dashboard-card">
      <mat-card-title>Most Played Category</mat-card-title>
      <mat-card-content>
        <h2>{{ mostPlayedCategory }}</h2>
      </mat-card-content>
    </mat-card>

    <!-- Categories Studied Percentage -->
    <mat-card class="dashboard-card">
      <mat-card-title>Categories Studied</mat-card-title>
      <mat-card-content>
        <h2>{{ categoriesStudiedPercentage }}%</h2>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>Monthly Challenge</mat-card-title>
      <mat-card-content>
        <h2>{{ gamesThisMonth }} games played</h2>
        <p>{{ challengeMessage }}</p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="dashboard-card">
      <mat-card-title>Streak Days!</mat-card-title>
      <mat-card-content>
        <h2>{{ daysStreak }} days in a row</h2>
        <p>Keep the streak going! 💪</p>
      </mat-card-content>
    </mat-card>

  </div>
  <!-- Monthly Challenge Card -->

    <!-- Strike Days Card -->


<!-- </div> -->
