<div class="game-board">
  <mat-card
    *ngFor="let word of words; let i = index"
    class="card"
    (click)="onCardClick(i)"
    (keydown.enter)="onCardClick(i)"
    tabindex="0"
    [class.flipped]="word.flipped"
    [class.answer]="word.answer"
  >
<mat-card-header *ngIf="!word.flipped && !word.answer">
  <mat-card-title>
    <span class="ques">?

    </span>
  </mat-card-title>
</mat-card-header>
<mat-card-content *ngIf="word.flipped || word.answer">
  
</mat-card-content>

</mat-card>





  <div *ngFor="let word of words" class="card" (click)="onCardClick(word)">
    <div *ngIf="!word.flipped && !word.answer" class="card-back">?</div>
    <div *ngIf="word.flipped || word.answer" class="card-front">
      {{ word.origin }}
    </div>
  </div>
  <div *ngFor="let word of words2" class="card" (click)="onCardClick(word)">
    <div *ngIf="!word.flipped && !word.answer" class="card-back">?</div>
    <div *ngIf="word.flipped || word.answer" class="card-front">
      {{ word.target }}
    </div>
  </div>
</div>
